
body{
  background: linear-gradient(1deg, rgb(250, 250, 253) 0%, rgb(208, 208, 245) 35%, rgb(234, 249, 252) 100%);
}


button
{
  color: #0c79df;
  border: 2px solid #070706;
}

/*リンクに触れたときのアニメーション*/
a{
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

a::before, a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 0;
  border-bottom: solid 1px #0afafa;
  transition: 0.5s;
}
a::before{
  top: 0;
}
a::after{
  bottom: 0;
}
a:hover::before, a:hover::after {
  width: 100%;
}