/*bodyは背景画像  background-color: black;*/
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50%;
  animation: move 13s infinite both;
  background: linear-gradient(#FFB3E7,#FF54C9);
}

/*アニメーション　画像の切り替え*/
@keyframes move {
  0% {
    background-image: url("apex.jpg");
    background-size: 150% auto;
  }

  50% {
    background-image: url("valo.jpg");
    background-size: 240% auto;
  }

  100% {
    background-image: url("spla.jpg");
    background-size: 150% auto;
  }
}

/*上の文字2つ　text-shadow:0 5px 5px rgb(5, 5, 5);*/
.text1 {
  font-family: "sans-serif";
  font-style: italic;
  font-size: 50px;
  color: aliceblue;
  text-shadow: 1px 1px 2px rgb(18, 18, 18), 0 0 1em rgb(57, 5, 245), 0 0 0.2em rgb(15, 109, 232);
  animation: fadeIn 2s ease 0s 1 normal;
}

/*textのフェード*/
@keyframes fadeIn{
  0% {opacity: 0}
100% {opacity: 1}
}



/*リンク色*/
a:link{
  color: green;
}

a:hover {
  color: #f30661;
  text-decoration: underline;
}

a:visited {
  color: #09f8b0;
}

/*リンクに触れたときのアニメーション*/
a{
  position: relative;
  display: inline-block;
  transition: 0.5s;
}

a::before, a::after {
  position: absolute;
  left: 0;
  content: '';
  width: 0;
  border-bottom: solid 1px #0afafa;
  transition: 0.5s;
}
a::before{
  top: 0;
}
a::after{
  bottom: 0;
}
a:hover::before, a:hover::after {
  width: 100%;
}